<div class="alert alert-info">List of {{usersCluster}}</div>
<div class="row">
  <div class="col-9">
    <form [formGroup]="userForm">
      <input type="text" class="form-control" formControlName="userFullName">
    </form>
  </div>
  <div class="col-3">
    <button class="btn btn-primary" [disabled]="!userForm.get('userFullName')?.value" (click)="addUser()">add user</button>
  </div>
</div>
<ol class="list-group">
  <li *ngFor="let user of users" class="list-group-item">
    {{user.name}} : {{user.age}} [{{user.fiboValue}}]
  </li>
</ol>